In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1f_9EbnywCj35EBUA32sueigxBjBJwALr'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('War and Peace by Leo Tolstoy (ru).txt')

In [ ]:
import pandas as pd

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")

sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

Подсчитай кол-во слов в документе "War and Peace by Leo Tolstoy (ru).txt"

In [ ]:
# код

In [ ]:
id='13yfAoONwq4rS5XrTv3IrcqcFcdgfvK9V'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-train.txt')

id='1VE_9x0LQvOJpHXbXp_RMPl3Q4wRUuOok'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-test.txt')

Необходимо обучить модель используя Spark MLlib (модель на ваш выбор, например Decision Tree) и получить accuracy.
Подробнее тут: https://spark.apache.org/docs/latest/ml-classification-regression.html

In [ ]:
# код

In [ ]:
id='1kUIrskM0zNH8u71G9M1BkHjRQYxvgAvh'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('data.zip')
!unzip data.zip

Кто получает больше всего? Кто меньше всего?

In [70]:
# код
#sc = SparkSession.builder.appName(
#    "PysparkExample").config (
#        "spark.sql.shuffle.partitions", "50").config(
#            "spark.driver.maxResultSize","5g").config (
#                "spark.sql.execution.arrow.enabled", "true").getOrCreate()

dataframe = spark.read.csv('data/employees.csv', sep = '\t', header = True)
dataframe.head(5)

dataframe.createOrReplaceTempView("df")
sc.sql("SELECT * FROM df WHERE salary = (SELECT MAX(CAST(salary AS INT)) FROM df )").show()
sc.sql("SELECT * FROM df WHERE salary = (SELECT MIN(CAST(salary AS INT)) FROM df )").show()
#spark.sql("SELECT JOB_TITLE, MAX_SALARY from JOBS ORDER BY CAST(MAX_SALARY as INT) desc").show()

+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|SKING|515.123.4567| 17.06.03|AD_PRES| 24000|          null|      null|           90|
+-----------+----------+---------+-----+------------+---------+-------+------+--------------+----------+-------------+

+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|    Olson|TJOLSON|650.124.8234| 10.04.07|ST_CLERK|  2100|          null|       121|           50|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+

Выведете топ 5 по зарплате.

In [78]:
# код
sc.sql("SELECT * FROM df ORDER BY CAST(salary AS INT) LIMIT 100").show()

+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        132|        TJ|      Olson| TJOLSON|650.124.8234| 10.04.07|ST_CLERK|  2100|          null|       121|           50|
|        136|     Hazel| Philtanker|HPHILTAN|650.127.1634| 06.02.08|ST_CLERK|  2200|          null|       122|           50|
|        128|    Steven|     Markle| SMARKLE|650.124.1434| 08.03.08|ST_CLERK|  2200|          null|       120|           50|
|        127|     James|     Landry| JLANDRY|650.124.1334| 14.01.07|ST_CLERK|  2400|          null|       120|           50|
|        135|        Ki|        Gee|    KGEE|650.127.1734| 12.12.07|ST_CLERK|  2400|          null|       122|           50|
|        119|     Karen| Colmenares|KCOLMENA|515.127.4566| 10.08.07|PU_CLERK|  2500|          null|       114|           30|
|        131|     James|     Marlow| JAMRLOW|650.124.7234| 16.02.05|ST_CLERK|  2500|          null|       121|           50|
|        191|   Randall|    Perkins|RPERKINS|650.505.4876| 19.12.07|SH_CLERK|  2500|          null|       122|           50|
|        140|    Joshua|      Patel|  JPATEL|650.121.1834| 06.04.06|ST_CLERK|  2500|          null|       123|           50|
|        144|     Peter|     Vargas| PVARGAS|650.121.2004| 09.07.06|ST_CLERK|  2500|          null|       124|           50|
|        182|    Martha|   Sullivan|MSULLIVA|650.507.9878| 21.06.07|SH_CLERK|  2500|          null|       120|           50|
|        143|   Randall|      Matos|  RMATOS|650.121.2874| 15.03.06|ST_CLERK|  2600|          null|       124|           50|
|        198|    Donald|   OConnell|DOCONNEL|650.507.9833| 21.06.07|SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|      Grant|  DGRANT|650.507.9844| 13.01.08|SH_CLERK|  2600|          null|       124|           50|
|        118|       Guy|     Himuro| GHIMURO|515.127.4565| 15.11.06|PU_CLERK|  2600|          null|       114|           30|
|        126|     Irene|Mikkilineni|IMIKKILI|650.124.1224| 28.09.06|ST_CLERK|  2700|          null|       120|           50|
|        139|      John|        Seo|    JSEO|650.121.2019| 12.02.06|ST_CLERK|  2700|          null|       123|           50|
|        117|     Sigal|     Tobias| STOBIAS|515.127.4564| 24.07.05|PU_CLERK|  2800|          null|       114|           30|
|        130|     Mozhe|   Atkinson|MATKINSO|650.124.6234| 30.10.05|ST_CLERK|  2800|          null|       121|           50|
|        183|    Girard|      Geoni|  GGEONI|650.507.9879| 03.02.08|SH_CLERK|  2800|          null|       120|           50|
+-----------+----------+-----------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 20 rows

Сколько всего регионов? Сколько работников в каждом регионе?

In [79]:
# код

dataframe2 = spark.read.csv('data/country.csv', sep = '\t', header = True)
dataframe2.head(5)

dataframe2.createOrReplaceTempView("df2")
sc.sql("SELECT COUNT(REGION_ID) FROM df2").show()

+----------------+
|count(REGION_ID)|
+----------------+
|              25|
+----------------+

Выведете всех работников из Китая.

In [ ]:
# код

Укажите самую высокооплачиваемою должность.

In [ ]:
# код

Выведете всех работников связанных с ИТ. Выведете их менеджеров.

In [ ]:
# код

Выведете имя и фамилию работника, его текущую и предыдущую должности и сколько полных недель и дней прошло с момент изменения.

In [ ]:
# код

Выведете уникальные телефонные номера

In [69]:
spark.sql("SELECT DISTINCT PHONE_NUMBER from df").show()

+------------------+
|      PHONE_NUMBER|
+------------------+
|      515.124.4569|
|011.44.1344.429018|
|011.44.1346.129268|
|011.44.1346.729268|
|      590.423.4569|
|011.44.1343.729268|
|      515.127.4566|
|      650.123.5234|
|      650.127.1934|
|      650.121.2004|
|      515.123.8888|
|011.44.1345.829268|
|      515.123.4444|
|      515.124.4567|
|      515.127.4564|
|      515.123.4568|
|011.44.1344.429268|
|011.44.1344.429278|
|011.44.1346.329268|
|      515.123.4569|
+------------------+
only showing top 20 rows

Есть ли сотрудники с одинаковыми фамилиями и сколько их.

In [ ]:
# код